extends bootstrap

block content
	.container
		.page-header
			h1= title
		.row
			.col-md-5.addNewLake
				if error
					p #{error}
				//UI for adding a new lake
				h2 Add a new lake
				form(action="/", method="POST")
					.form-group
						label Lake name
							input.form-control(name="name" type="text" required)
						button.btn.btn-default(name="addLake" type="submit") Add new lake

			.col-md-7.runList
				//UI for displaying run data
				h2 Run history
				for run in runList
					.well
						ul.list-group
							li.list-group-item.list-group-item-heading.list-group-item-info
								h3 Lake: #{run.name}
							//da do run run.runs, da do run.runs
							for date in run.runs
								li.list-group-item #{date.dateHuman} : #{date.timeHuman}
						form.form-inline(action="/addRun", method="POST")
							input(name="name" value="#{run.name}" type="hidden")
							.form-group.form-group-sm
								label New run date
									input.form-control(name="dateRun" type="date" required)
							br
							.form-group.form-group-sm
								label Minutes
									input.form-control(name="timeMM" type="number" placeholder="MM"  min="0" required)
								label Seconds
									input.form-control(name="timeSS" type="number" placeholder="SS"  min="0" required)
								br
								button.btn.btn-default.btn-sm(name="addRun" type="submit") Add new run




